altgraph==0.17.2
astroid==2.8.2
auto-py-to-exe==2.10.1
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.4
cffi==1.14.6
click==8.0.3
colorama==0.4.4
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
importlib-metadata==4.8.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
pefile==2021.9.3
platformdirs==2.4.0
py2exe==0.10.4.1
pycparser==2.20
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pylint==2.11.1
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.1
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
whichcraft==0.6.1
wrapt==1.12.1
xlrd==2.0.1
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
